Diagnostics:
  UnusedIncludes: None

Hover:
  ShowAKA: true

InlayHints:
  BlockEnd: true
  DefaultArguments: true

Documentation:
  CommentFormat: Doxygen

---

If:
  PathMatch:
    - ^src/.*\.(c|h)$
    - ^wolfssl/.*\.(c|h)$

CompileFlags:
  Compiler: clang
  Add:
    - -std=c23
    - -Wall
    - -Wextra
    - -Iwolfssl/include
    - -DWOLFSSL_USE_OPTIONS_H

---

If:
  PathMatch:
    - ^src/.*\.(cpp|hpp)$

CompileFlags:
  Compiler: clang++
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Iwolfssl/include
    - -DWOLFSSL_USE_OPTIONS_H

---

If:
  PathMatch:
    - ^wolfssl-src/.*\.(c|h)$

CompileFlags:
  Compiler: clang
  Add:
    - -std=c99
    - -Wall
    - -Wextra
    - -Iwolfssl-src
    - -DWOLFSSL_USE_OPTIONS_H
    - -DWOLFSSL_IGNORE_FILE_WARN

Diagnostics:
  ClangTidy:
    Remove: readability-misleading-indentation
